<img id="burger" alt="Burger" src="/assets/img/burger.png">
<h1>Eat Da Burger!</h1>

<div class="table">
<div id="what-to-eat">
  <h2>Want to Eat</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
      <li>{{ burger_name }}: {{ id }}  : {{ devoured }} <button data-id={{ id }}>Devour it!</button></li>
  {{/unless}}
  {{/each}}
</ul>
</div>

<div id="already-ate">
  <h2>Already Devoured</h2>
<ul>
  {{#each burgers}}
  {{#if devoured}}
      <li>{{ burger_name }}: {{ id }}  : {{ devoured }} </li>
      {{/if}}
  {{/each}}
</ul>
</div>
</div>

<div class="lower-table">

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="add-burger" name="name">
  </div>

  <button type="submit" action="/api/burgers" method="post">Add a Burger</button>
</form>
<div>
  <p>Enter a burger you want to eat.</p>
  </div>

</div>